<!--  DISCOVERY -->
<div id="discovery" ng-controller="MainCtrl">

  <!-- Program Description -->
  <div id="discoveryInfo">
    <!-- Xtra-Small Screens -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-bottom: 30px;">
      <!-- Title -->
      <h1 class="discovery"><strong>Discovery</strong> <br> (Ages 4-5)</h1>
      <div class="col-xs-12" style="margin-bottom:15px;">
        <table>
          <tr>
            <td><h3>Led by Joe Norton</h3></td>
            <td><img src="images/joeFace.png" class="imgCircle makeSmall" style="vertical-align:middle;"></td>
          </tr>
        </table>
      </div>
      <div style="text-align:justify;">
        <div ng-include="'views/partials/_discovery.html'"></div>
      </div>
    </div>

    <!-- Small/Medium Screens -->
    <div class="col-xs-12 hidden-xs hidden-lg" style="margin-bottom: 30px;">
      <!-- Title -->
      <h1 class="discovery"><strong>Discovery</strong> (Ages 4-5)</h1>
      <div class="col-xs-4" style="margin-bottom:15px;">
        <table style="margin-top:20px;">
          <tr>
            <td><h3>Led by <br> Joe Norton</h3></td>
            <td><img src="images/joeFace.png" class="imgCircle" style="vertical-align:middle; max-height:75%;"></td>
          </tr>
        </table>
      </div>
      <div class="col-xs-8" style="text-align:justify; vertical-align:middle;">
        <div ng-include="'views/partials/_discovery.html'"></div>
      </div>
    </div>

    <!-- Large Screens -->
    <div class="col-lg-6 visible-lg">
      <table>
        <tr>
          <th colspan="3"><h1 class="discovery centered" style="margin-bottom:20px;">
            <span class="line"><strong>Discovery</strong></span><span class="line"> &nbsp; (Ages 4-5)</span></h1>
          </th>
        </tr>
        <tr>
          <td colspan="2"><img src="images/joeFace.png" class="imgCircle largeFace"></td>
          <td>
            <h3 class="centered">Led by Joe Norton</h3>
            <div style="text-align:justify;">
              <div ng-include="'views/partials/_discovery.html'"></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Info Bubbles -->
  <div class="row-level gray centered">
    <div class="col-sm-4">
      <img src="../images/disc1.png" alt="Practice Makes Perfect" class="infoBubble">
      <h2 class="black">Practice Makes Perfect</h2>
      <h4>
        Develop hand-eye coordination and learn the rules of tennis
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/disc2.png" alt="Tailored For Kids" class="infoBubble">
      <h2 class="black">Tailored For Kids</h2>
      <h4>
      Use soft foam balls to practice strokes and gain confidence
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/disc3.png" alt="Have Fun!" class="infoBubble">
      <h2 class="black">Have Fun!</h2>
      <h4>
        Develop social skills and learn team spirit while making new friends!
      </h4>
    </div>
  </div>
  <hr class="col-xs-12 lineFade">
</div>
<!-- END DISCOVERY -->
