<!-- JUNIOR DEVELOPMENT 1 -->
<div id="jd1" ng-controller="MainCtrl">

  <!-- Program Description -->
  <div id="jd1Info">
    <!-- Xtra-Small Screens -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-bottom: 30px;">
      <!-- Title -->
      <h1 class="jd1"><strong>Junior Development 1</strong> <br> (Ages 9-10)</h1>
      <div class="col-xs-12" style="margin-bottom:15px;">
        <table>
          <tr>
            <td><h3>Led by Kendra Becker</h3></td>
            <td><img src="images/kendraFace.png" class="imgCircle makeSmall" style="vertical-align:middle;"></td>
          </tr>
        </table>
      </div>
      <div style="text-align:justify;">
        <div ng-include="'views/partials/_jd1.html'"></div>
      </div>
    </div>

    <!-- Small/Medium Screens -->
    <div class="col-xs-12 hidden-xs hidden-lg" style="margin-bottom: 30px;">
      <!-- Title -->
      <h1 class="jd1"><strong>Junior Development 1</strong> (Ages 9-10)</h1>
      <div class="col-xs-4" style="margin-bottom:15px;">
        <table style="margin-top:20px;">
          <tr>
            <td><h3>Led by <br> Kendra Becker</h3></td>
            <td><img src="images/kendraFace.png" class="imgCircle" style="vertical-align:middle; max-height:75%;"></td>
          </tr>
        </table>
      </div>
      <div class="col-xs-8" style="text-align:justify; vertical-align:middle;">
        <div ng-include="'views/partials/_jd1.html'"></div>
      </div>
    </div>

    <!-- Large Screens -->
    <div class="col-lg-6 visible-lg">
      <table>
        <tr>
          <th colspan="3"><h1 class="jd1 centered" style="margin-bottom:20px;">
            <span class="line"><strong>Junior Development 1</strong></span><span class="line"> &nbsp; (Ages 9-10)</span></h1>
          </th>
        </tr>
        <tr>
          <td colspan="2"><img src="images/kendraFace.png" class="imgCircle largeFace"></td>
          <td>
            <h3 class="centered">Led by Kendra Becker</h3>
            <div style="text-align:justify;">
              <div ng-include="'views/partials/_jd1.html'"></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Info Bubbles -->
  <div class="row-level gray centered">
    <div class="col-sm-4">
      <img src="../images/jd11.png" alt="Hone Your Skills" class="infoBubble">
      <h2 class="black">Hone Your Skills</h2>
      <h4>
        Progress your game and improve on the basics learned in the rally program
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/jd12.png" alt="Designed For You" class="infoBubble">
      <h2 class="black">Designed For You</h2>
      <h4>
      Use shorter courts and lighter balls to easily learn the fundamentals of the game
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/jd13.png" alt="Celebrate Your Skills" class="infoBubble">
      <h2 class="black">Celebrate Your Skills</h2>
      <h4>
        Meet new friends and have fun learning tennis
      </h4>
    </div>
  </div>
  <hr class="col-xs-12 lineFade">
</div>
<!-- END JUNIOR DEVELOPMENT 1 -->
