 <!-- JUNIOR DEVELOPMENT 2 -->
<div id="jd2" ng-controller="MainCtrl">

  <!-- Program Description -->
  <div id="jd2Info">
    <!-- Xtra-Small Screens -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-bottom: 30px;">
      <!-- Title -->
      <h1 class="jd2"><strong>Junior Development 2</strong><br> (Ages 11-12)</h1>
      <div class="col-xs-12" style="margin-bottom:15px;">
        <table>
          <tr>
            <td><h3>Led by Kendra Becker</h3></td>
            <td><img src="images/kendraFace.png" class="imgCircle makeSmall" style="vertical-align:middle;"></td>
          </tr>
        </table>
      </div>
      <div style="text-align:justify;">
        <div ng-include="'views/partials/_jd2.html'"></div>
      </div>
    </div>

    <!-- Small/Medium Screens -->
    <div class="col-xs-12 hidden-xs hidden-lg" style="margin-bottom: 30px;">
      <!-- Title -->
      <h1 class="jd2"><strong>Junior Development 2</strong> (Ages 11-12)</h1>
      <div class="col-xs-4" style="margin-bottom:15px;">
        <table style="margin-top:20px;">
          <tr>
            <td><h3>Led by <br> Kendra Becker</h3></td>
            <td><img src="images/kendraFace.png" class="imgCircle" style="vertical-align:middle; max-height:75%;"></td>
          </tr>
        </table>
      </div>
      <div class="col-xs-8" style="text-align:justify; vertical-align:middle;">
        <div ng-include="'views/partials/_jd2.html'"></div>
      </div>
    </div>

    <!-- Large Screens -->
    <div class="col-lg-6 visible-lg">
      <table>
        <tr>
          <th colspan="3"><h1 class="jd2 centered" style="margin-bottom:20px;">
            <span class="line"><strong>Junior Development 2</strong></span><span class="line"> &nbsp; (Ages 11-12)</span></h1>
          </th>
        </tr>
        <tr>
          <td colspan="2"><img src="images/kendraFace.png" class="imgCircle largeFace"></td>
          <td>
            <h3 class="centered">Led by Kendra Becker</h3>
            <div style="text-align:justify;">
              <div ng-include="'views/partials/_jd2.html'"></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Info Bubbles -->
  <div class="row-level gray centered">
    <div class="col-sm-4">
      <img src="../images/jd21.png" alt="Achieve Your Goals" class="infoBubble">
      <h2 class="black">Achieve Your Goals</h2>
      <h4>
        Improve your game and apply the skills learned in Junior Development 1 Program
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/jd22.png" alt="The Next Level" class="infoBubble">
      <h2 class="black">The Next Level</h2>
      <h4>
        Apply your skills and train to compete at the next level!
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/jd23.png" alt="Meet Future Teammates" class="infoBubble">
      <h2 class="black">Meet Future Teammates</h2>
      <h4>
        Make friends with players your age and learn the game together
      </h4>
    </div>
  </div>
  <hr class="col-xs-12 lineFade">
</div>
<!-- END JUNIOR DEVELOPMENT 2 -->
