<!-- Intensity Clinic Signup Banner -->
<div class="jumbotron banner">
  <div class="lead">
    <img src="images/intensityLogo.png" alt="Intensity Logo" class="img-responsive">
    <h1>Beginners Tennis Clinics</h1>
    <br>
    It's never too late to start playing!
  </div>
  <a class="btn btn-lg btn-success" data-toggle="modal" ng-href="#modalForm">Learn More! <span class="glyphicon glyphicon-hand-left"></span></a>
  <div ng-include="'views/signup.html'" ng-controller="MainCtrl"></div>
</div>


<!-- Clinic Info & Details -->
<div class="col-lg-6 col-lg-offset-3 centered">
  <h1>Learn the Basics - It's Easier Than You Think!</h1>
  <h3 class="gray">4 Weeks - 1.5hr Clinics - $100</h3>
</div>

<div class="row marketing gray">
  <div class="col-md-4 centered">
    <img src="../images/begincircle1.png" alt="Meet New People" class="img-responsive">
    <h2 class="black">Meet New People</h2>
    <h4>
      Learn the game with other beginners. Find hitting partners, teammates and even new friends as you perfect your game!
    </h4>
  </div>
  
  <div class="col-md-4 centered">
    <img src="../images/begincircle2.png" alt="Meet New People" class="img-responsive">
    <h2 class="black">Learn From Our Talented Pros</h2>
    <h4>
    Our friendly instructors are here to teach you it all. With over 30 years of combined teaching experience, you'll learn the game in no time!
    </h4>
  </div>
  
  <div class="col-md-4 centered">
    <img src="../images/begincircle3.png" alt="Meet New People" class="img-responsive">
    <h2 class="black">Perfect Your Skills</h2>
    <h4>Learn ground strokes, volleys, serves &amp; more in our 4-week, 1.5 hour clinics and begin your tennis journey today!</h4>
  </div>
</div>


<!-- Page Bottom Signup Form -->
<div class="col-lg-4 col-lg-offset-4 centered">
  <h1>You've Got to Start Somewhere!</h1>
  <h4>Give our begginers clinics a shot and see how fun tennis can be. Get started today!</h4>
  <a class="btn btn-lg btn-success" ng-href="#/">Learn More! <span class="glyphicon glyphicon-hand-left"></span></a>
<h4>It's never too late to start playing!</h4>
</div>
