<!-- RALLY KIDS -->
<div id="rallyKids" ng-controller="MainCtrl">
  <!-- Program Description -->

  <!-- Xtra-Small Screens -->
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-bottom: 30px;">
    <!-- Title -->
    <h1 class="rallyKids">Rally Kids <br> (Ages 6-8)</h1>
    <div class="col-xs-12" style="margin-bottom:15px;">
      <table>
        <tr>
          <td><h3>Led by Kendra Becker</h3></td>
          <td><img src="images/kendraFace.png" class="imgCircle makeSmall" style="vertical-align:middle;"></td>
        </tr>
      </table>
    </div>
    <div style="text-align:center;">
      <div ng-include="'views/partials/_rallyKids.html'"></div>
    </div>
  </div>

  <!-- Small/Medium Screens -->
  <div class="col-xs-12 hidden-xs hidden-lg" style="margin-bottom: 30px;">
    <!-- Title -->
    <h1 class="rallyKids">Rally Kids (Ages 6-8)</h1>
    <div class="col-xs-4" style="margin-bottom:15px;">
      <table style="margin-top:20px;">
        <tr>
          <td><h3>Led by <br> Kendra Becker</h3></td>
          <td><img src="images/kendraFace.png" class="imgCircle" style="vertical-align:middle; max-height:75%;"></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-8" style="text-align:center; vertical-align:middle;">
      <div ng-include="'views/partials/_rallyKids.html'"></div>
    </div>
  </div>

  <!-- Large Screens -->
  <div class="col-lg-6 visible-lg">
    <h1 class="rallyKids" style="margin-bottom:20px;">Rally Kids (Ages 6-8)</h1>
    <img src="images/kendraFace.png" class="pull-left largeFace imgCircle img-responsive">
    <h3>Led by Kendra Becker</h3>
    <div style="text-align:left;">
      <div ng-include="'views/partials/_rallyKids.html'"></div>
    </div>
  </div>

  <!-- Info Bubbles -->
  <div class="row-level gray centered">
    <div class="col-sm-4">
      <img src="../images/rally1.png" alt="Step It Up" class="infoBubble">
      <h2 class="black">Step It Up</h2>
      <h4>
        Get down the basics on smaller courts with lighter balls
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/rally2.png" alt="Teamwork Is Key" class="infoBubble">
      <h2 class="black">Teamwork Is Key</h2>
      <h4>
      Learn teamwork and good sportsmanship while getting to know the game of tennis
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/rally3.png" alt="Find Your Stroke" class="infoBubble">
      <h2 class="black">Find Your Stroke</h2>
      <h4>
        Get moving, stay active, and play hard!
      </h4>
    </div>
  </div>
</div>

<div class="col-xs-12 line-separator"></div>
<hr>
<!-- END RALLY KIDS -->
