<!-- Basic Modal Form Template. To use, set href="#signupModal" on button you want to use -->

<!-- Modal Registration Form -->
<div class="modal fade" id="signupModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Hello World!</h4>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
