<!--  TENNIS WHIZZ -->
<div id="tennisWhizz">

  <!-- Program Description -->
  <div id="tennisWhizzInfo">
    <!-- Xtra-Small Screens -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-bottom: 30px;">
      <!-- Title -->
      <h1 class="tennisWhizz"><strong>Tennis Whizz</strong> <br> (Ages 2-3)</h1>
      <div class="col-xs-12" style="margin-bottom:15px;">
        <table>
          <tr>
            <td><h3>Led by Joe Norton</h3></td>
            <td><img src="images/joeFace.png" class="imgCircle makeSmall" style="vertical-align:middle;"></td>
          </tr>
        </table>
      </div>
      <div style="text-align:justify;">
        <div ng-include="'views/partials/_tennisWhizz.html'"></div>
      </div>
    </div>

    <!-- Small/Medium Screens -->
    <div class="col-xs-12 hidden-xs hidden-lg" style="margin-bottom: 30px;">
      <!-- Title -->
      <h1 class="tennisWhizz"><strong>Tennis Whizz</strong> (Ages 2-3)</h1>
      <div class="col-xs-4" style="margin-bottom:15px;">
        <table style="margin-top:20px;">
          <tr>
            <td><h3>Led by <br> Joe Norton</h3></td>
            <td><img src="images/joeFace.png" class="imgCircle" style="vertical-align:middle; max-height:75%;"></td>
          </tr>
        </table>
      </div>
      <div class="col-xs-8" style="text-align:justify; vertical-align:middle;">
        <div ng-include="'views/partials/_tennisWhizz.html'"></div>
      </div>
    </div>

    <!-- Large Screens -->
    <div class="col-lg-6 visible-lg">
      <table>
        <tr>
          <th colspan="3"><h1 class="tennisWhizz centered" style="margin-bottom:20px;">
            <span class="line"><strong>Tennis Whizz</strong></span><span class="line"> &nbsp; (Ages 2-3)</span></h1>
          </th>
        </tr>
        <tr>
          <td colspan="2"><img src="images/joeFace.png" class="imgCircle largeFace"></td>
          <td>
            <h3 class="centered">Led by Joe Norton</h3>
            <div style="text-align:justify;">
              <div ng-include="'views/partials/_tennisWhizz.html'"></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Info Bubbles -->
  <div class="row-level gray centered">
    <div class="col-sm-4">
      <img src="../images/whizz1.png" alt="Learn To Play" class="infoBubble">
      <h2 class="black">Learn To Play</h2>
      <h4>
        Get your child ready for junior tennis and introduce them to a fun and exciting new game!
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/whizz2.png" alt="Play Fun Games" class="infoBubble">
      <h2 class="black">Play Fun Games</h2>
      <h4>
      Develop spatial awareness, social skills, motor skills and more through playing tennis!
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/whizz3.png" alt="Meet New Friends" class="infoBubble">
      <h2 class="black">Meet New Friends</h2>
      <h4>
        Meet new friends and build skills that will last a lifetime!
      </h4>
    </div>
  </div>
  <hr class="col-xs-12 lineFade">
</div>
<!-- END TENNIS WHIZZ -->
