<!--  TENNIS WHIZZ -->
<div id="tennisWhizz">
  <!-- Program Description -->

  <!-- Xtra-Small Screens -->
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-bottom: 30px;">
    <!-- Title -->
    <h1 style="margin-bottom:20px; color: #4894df;">XS Tennis Whizz <br> (Ages 2-3)</h1>
    <div class="col-xs-12" style="margin-bottom:15px;">
      <table>
        <tr>
          <td><h3>Led by Joe Norton</h3></td>
          <td><img src="images/joeFace.png" class="imgCircle makeSmall" style="vertical-align:middle;"></td>
        </tr>
      </table>
    </div>
    <div style="text-align:center;">
      <h4>Tennis Whizz provides the perfect start to get your child ready for Junior Tennis and a lifetime of active fun. It is not specifically aimed at making your three year old into the next Grand Slam Champion.</h4>
      <span class="glyphicon glyphicon-minus"></span>
      <h4>We focus on learning through play and developing active habits that help your child build the skills that they need for starting school. Every lesson includes key skills around literacy and numeracy, called 'Set4Schools', such as letter sounds, numbers, rhyming, shapes &amp; colors.</h4>
    </div>
  </div>

  <!-- Small/Medium Screens -->
  <div class="col-xs-12 hidden-xs hidden-lg" style="margin-bottom: 30px;">
    <!-- Title -->
    <h1 style="margin-bottom:20px; color: #4894df;">Sm/Md Tennis Whizz (Ages 2-3)</h1>
    <div class="col-xs-4" style="margin-bottom:15px;">
      <table style="margin-top:20px;">
        <tr>
          <td><h3>Led by <br> Joe Norton</h3></td>
          <td><img src="images/joeFace.png" class="imgCircle" style="vertical-align:middle; max-height:75%;"></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-8" style="text-align:center; vertical-align:middle;">
      <h4>Tennis Whizz provides the perfect start to get your child ready for Junior Tennis and a lifetime of active fun. It is not specifically aimed at making your three year old into the next Grand Slam Champion.</h4>
      <span class="glyphicon glyphicon-minus"></span>
      <h4>We focus on learning through play and developing active habits that help your child build the skills that they need for starting school. Every lesson includes key skills around literacy and numeracy, called 'Set4Schools', such as letter sounds, numbers, rhyming, shapes &amp; colors.</h4>
    </div>
  </div>

  <!-- Large Screens -->
  <div class="col-lg-6 visible-lg">
    <h1 style="margin-bottom:40px; color: #4894df;">Lg Tennis Whizz (Ages 2-3)</h1>
    <img src="images/joeFace.png" style="margin-bottom:100px;" class="pull-left imgCircle img-responsive">
    <h3>Led by Joe Norton</h3>
    <div style="text-align:left;">
      <h4>Tennis Whizz provides the perfect start to get your child ready for Junior Tennis and a lifetime of active fun. It is not specifically aimed at making your three year old into the next Grand Slam Champion.</h4>
      <span class="glyphicon glyphicon-minus centered"></span>
      <h4>We focus on learning through play and developing active habits that help your child build the skills that they need for starting school. Every lesson includes key skills around literacy and numeracy, called 'Set4Schools', such as letter sounds, numbers, rhyming, shapes &amp; colors.</h4>
    </div>
  </div>

  <!-- Info Bubbles -->
  <div class="row-level gray">
    <div class="col-sm-4" ng-click="helloWorld()">
      <img src="../images/whizz1.png" alt="Learn To Play" class="infoBubble">
      <h2 class="black">Learn To Play</h2>
      <h4>
        Get your child ready for junior tennis and introduce them to a fun and exciting new game!
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/whizz2.png" alt="Play Fun Games" class="infoBubble">
      <h2 class="black">Play Fun Games</h2>
      <h4>
      Develop spatial awareness, social skills, motor skills and more through playing tennis!
      </h4>
    </div>
    <div class="col-sm-4">
      <img src="../images/whizz3.png" alt="Meet New Friends" class="infoBubble">
      <h2 class="black">Meet New Friends</h2>
      <h4>
        Meet new friends and build skills that will last a lifetime!
      </h4>
    </div>
  </div>

</div>
<div class="line-separator"></div>
<hr>
<!-- END TENNIS WHIZZ -->
