<!-- Intensity Clinic Signup Banner -->
<div class="jumbotron banner">
  <div class="lead">
    <img src="images/intensityLogo.png" alt="Intensity Logo" class="img-responsive centered">
    <h1>2016 Indoor Fall Clinics</h1>
    <br>
    Our Fall Programs Begin Soon!
  </div>
  <a class="btn btn-lg btn-success" data-toggle="modal" href="#signupForm">Learn More! <span class="glyphicon glyphicon-hand-left"></span></a>
<div ng-include="'views/signup.html'" ng-controller="MainCtrl"></div>
</div>
<!-- END SIGNUP BANNER -->
