<h4>Discovery is for the beginning tennis player to develop the important skills of hand-eye coordination and agility. The program introduces tennis vocabulary and the rules of the game. It is run in a fun and encouraging setting that develops social skills and promotes team spirit.</h4>
<span class="glyphicon glyphicon-minus centered"></span>
<h4>The program uses 75% slower foam tennis balls that bounce at a level proportionate to a child’s height to allow better and longer rallies, encouraging the development of all-court games, racquet skills, physical awareness and confidence.</h4>
