<h4>Tennis Whizz provides the perfect start to get your child ready for Junior Tennis and a lifetime of active fun. It is not specifically aimed at making your three year old into the next Grand Slam Champion.</h4>
<span class="glyphicon glyphicon-minus centered"></span>
<h4>We focus on learning through play and developing active habits that help your child build the skills that they need for starting school. Every lesson includes key skills around literacy and numeracy, called 'Set4Schools', such as letter sounds, numbers, rhyming, shapes &amp; colors.</h4>
